{
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true,
        "mocha": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "windows"],
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "no-var": "error",
        "no-new-object": "error",
        "no-array-constructor": "error",
        "no-empty": "error",
        "no-empty-function": "error",
        "no-inner-declarations": "error",
        "no-func-assign": "error",
        "eqeqeq": "error"
    }
}